# 1. Fetch S&P 500 data

Requirements

In [1]:
# Imports
import requests
import pandas as pd
import os

In [2]:
# Define and prepare destination directory
DATA_DIR = '../data/'
os.makedirs(DATA_DIR, exist_ok=True)

In [3]:
# Fetch S&P 500 Companies and preview data
URL = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
tables = pd.read_html(URL, header=0)
table = tables[0]
table.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Location,Date first added[3][4],CIK,Founded,Unnamed: 9
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740,1902,NaN
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888,NaN
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888),NaN
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981,NaN
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989,NaN

In [4]:
# Reduce, save and preview data
companies_data = table[['Symbol', 'Security']]
companies_data.to_csv(DATA_DIR + 'SP500_symbols_names.csv')
companies_data.head()

  Symbol             Security
0    MMM           3M Company
1    ABT  Abbott Laboratories
2   ABBV          AbbVie Inc.
3   ABMD          ABIOMED Inc
4    ACN        Accenture plc

# 2. Fetch prices

https://iextrading.com/developer/docs/#chart
here is documentation

In [5]:
from prices_fetching import a_get_data

In [6]:
companies_data.iloc[86]

Symbol                          CHRW
Security    C. H. Robinson Worldwide
Name: 86, dtype: object

In [7]:
# Preview
companies = list(companies_data['Symbol'][80:90])
prices_data = await a_get_data(companies, from_='2018-01-01', to='2018-01-10')
prices_data

,BSX,BHF,BMY,AVGO,BR,BF-B,CHRW,COG,CDNS
time,,,,,,,,,
2018-01-02,25.28,57.67,59.7048,261.3658,89.8911,88.4154,28.6141,42.05,45.8466
2018-01-03,25.56,58.51,59.7535,264.2241,89.8119,88.1691,28.7429,42.93,45.1984
2018-01-04,25.32,59.49,60.5278,264.3122,90.5246,88.3957,28.6240,43.58,45.5757
2018-01-05,25.97,60.63,60.6651,265.8784,91.6334,88.2479,28.4755,43.99,45.7498
2018-01-08,25.81,60.49,60.6847,266.5146,92.1977,89.4400,28.6240,44.92,46.0788
2018-01-09,27.96,61.71,60.6259,262.8243,92.3759,90.1100,28.8320,45.07,46.0982
2018-01-10,27.52,64.00,60.7827,257.2742,92.0492,90.0903,27.6834,44.84,44.6558

In [8]:
# Fetch data (may take a while)
companies = list(companies_data['Symbol'])
prices_data = await a_get_data(companies, from_='2017-01-01', to='2018-01-01', chunk_delay=100)

In [11]:
# Preview and save
prices_data.to_csv(DATA_DIR + 'prices_data.csv')
prices_data.head(5)

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WHR,WMB,WLTW,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBH
time,,,,,,,,,,,,,,,,,,,,,
2017-01-03,170.6263,37.4777,57.9529,112.36,112.1351,36.2303,103.48,11.43,170.0155,10.7256,...,119.9770,84.9984,38.3894,25.9213,56.6960,48.4420,61.3190,101.8749,41.9161,52.9633
2017-01-04,170.8851,37.7753,58.7701,115.74,112.4047,36.9422,104.14,11.43,171.4107,10.6336,...,121.4567,87.7390,38.5595,26.8994,56.2833,49.1640,61.5422,102.8115,42.5179,53.4772
2017-01-05,170.3005,38.1016,59.2158,114.81,110.7197,37.5157,105.91,11.24,171.2911,10.4956,...,122.6250,88.8664,38.5595,26.7866,55.6018,48.7152,61.7459,103.4721,41.8287,53.2993
2017-01-06,170.7988,39.1381,59.2344,115.42,111.9811,37.4861,108.30,11.32,169.0488,10.8728,...,123.4233,89.8285,38.6729,26.3727,56.6768,48.3737,62.4928,103.4819,42.1005,53.4674
2017-01-09,169.8788,39.0997,59.6244,117.11,110.7294,37.2784,108.57,11.49,168.9492,10.6060,...,122.6737,90.1395,38.0869,26.2222,56.6864,48.1689,62.6675,105.4932,41.6443,53.3191